block content
        footer.footer
                    .footer__row
                        .footer__menu
                            nav.menu
                                ul.menu__list
                                    li.menu__item
                                        a(href="#").menu__link Мои работы
                                    li.menu__item
                                        a(href="about.html").menu__link Обо мне
                                    li.menu__item
                                        a(href="#").menu__link Блог
                                    li.menu__item
                                        a(href="#").menu__link Авторизация
                        .footer__socials
                            ul.socials
                                li.socials__item
                                    a(href="https://vk.com/ykurbakov" target="_blank").socials__link.socials__link_rounded.vk-round
                                        svg(width="25", height="25").socials__icon.icon-vk.icon-vk_color_white
                                            use(xlink:href="img/icons/sprite.svg#vk") 
                                li.socials__item
                                    a(href="https://github.com/kyv81" target="_blank").socials__link.socials__link_rounded.github-round
                                        svg(width="25", height="25").socials__icon.icon-github.icon-github_color_white
                                            use(xlink:href="img/icons/sprite.svg#github")
                                li.socials__item 
                                    a(href="https://www.facebook.com/profile.php?id=100009954705314" target="_blank").socials__link.socials__link_rounded.in-round
                                        svg(width="25", height="25").socials__icon.icon-in.icon-in_color_white
                                            use(xlink:href="img/icons/sprite.svg#in")
                    .footer__row  
                        .footer__text
                            p Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                        .footer__copyright
                            p © Юрий Курбаков | создано с любовью в LoftSchool | 2017