block content
        section.section.hero
            .hero__bg
                .hero__header
                    .hero__socials
                        ul.socials
                            li.socials__item
                                a(href="https://vk.com/ykurbakov" target="_blank").socials__link
                                    svg(width="30", height="17").socials__icon.icon-vk.icon-vk_color_white 
                                        use(xlink:href="img/icons/sprite.svg#vk") 
                            li.socials__item
                                a(href="https://github.com/kyv81" target="_blank").socials__link
                                    svg(width="26", height="22").socials__icon.icon-github.icon-github_color_white 
                                        use(xlink:href="img/icons/sprite.svg#github")
                            li.socials__item 
                                a(href="https://www.facebook.com/profile.php?id=100009954705314" target="_blank").socials__link
                                    svg(width="24", height="23").socials__icon.icon-in.icon-in_color_white
                                        use(xlink:href="img/icons/sprite.svg#in")
                    .hero__menu
                        button.hamburger
                            a(href="#").hamburger__link
                                .hamburger__bars
                .hero__title 
                    .section-title
                        img.section-title__pic(src="./img/bg/portfolio_header.svg")
                    .hero__user
                        .hero__user-pic
                            img.hero__user-img(src="./img/content/my_photo.jpg")
                        .hero__user-desc
                            .hero__user-name Юрий Курбаков
                            .hero__user-info Личный сайт веб-разработчика
                .arrow
                    a(href="#").arrow__link 
                        svg(width="25" height="16").arrow__icon
                            use(xlink:href="img/icons/sprite.svg#arrow_down")
                        
                
            .triangles
                svg.triangle__block(xmlns="http://www.w3.org/2000/svg"
                            viewbox="0 0 1000 85"
                            preserveaspectratio="none")
                    polygon.triangle__left(points="0,0 0,86 500.8,86 500.8,75.5")
                    polygon.triangle__right(points="1000,0 1000,86 500,86 500,75.5")