extends ../template 

block variables 
    - var title = "Блог"

block content 
    .wrapper
        .hamb
            ul.hamb__list
                li.hamb__item
                    .block-title.block-title_color_white 
                        a(href="works.html").hamb__link Мои работы
                li.hamb__item
                    .block-title.block-title_color_white 
                        a(href="blog.html").hamb__link Блог
                li.hamb__item
                    .block-title.block-title_color_white 
                        a(href="about.html").hamb__link Обо мне
                li.hamb__item
                    .block-title.block-title_color_white 
                        a(href="index.html").hamb__link Авторизация

        .nav-hamb
            ul.nav-hamb__list
                li.nav-hamb__item 
                    a(href="#article-1").nav-hamb__link.scroll Самое важное в SASS
                li.nav-hamb__item 
                    a.a(href="#article-2").nav-hamb__link.scroll Приемы в верстке, без которых не обходится ни один сайт
                li.nav-hamb__item
                    a(href="#article-3").nav-hamb__link.scroll Самый необходимый набор Gulp плагинов 
                li.nav-hamb__item 
                    a(href="#article-4").nav-hamb__link.scroll Почему я выбрал Pug

        section.section.hero.blog
            .hero__bg.hero__bg-blog
                .hero__header
                    .hero__socials
                        ul.socials
                            li.socials__item
                                a(href="https://vk.com/ykurbakov" target="_blank").socials__link
                                    svg(width="30", height="17").socials__icon.icon-vk.icon-vk_color_white 
                                        use(xlink:href="img/icons/sprite.svg#vk") 
                            li.socials__item
                                a(href="https://github.com/kyv81" target="_blank").socials__link
                                    svg(width="26", height="22").socials__icon.icon-github.icon-github_color_white 
                                        use(xlink:href="img/icons/sprite.svg#github")
                            li.socials__item 
                                a(href="https://www.facebook.com/profile.php?id=100009954705314" target="_blank").socials__link
                                    svg(width="24", height="23").socials__icon.icon-in.icon-in_color_white
                                        use(xlink:href="img/icons/sprite.svg#in")
                    .hero__menu
                        div.hamburger
                            span.hamburger__bar
                            span.hamburger__bar
                            span.hamburger__bar
                            
                .hero__user
                        .hero__user-pic
                            img.hero__user-img(src="./img/content/my_photo.jpg")

                .hero__blog
                    .hero__blog-title
                        img(src="img/bg/blog_header.svg").hero__blog-pic
                        .hero__blog-info
                            .block-title.block-title_color_white Блог
                            .hero__blog-text.text-content
                                p Статьи, которые я написал

                .triangle
                    svg(width="50%" height="100px" viewbox="0 0 100 100" preserveaspectratio="none").triangle__left
                        polygon(points="0,100 0,0 100,100")
                    svg(width="50%" height="100px" viewbox="0 0 100 100" preserveaspectratio="none").triangle__right
                        polygon(points="0,100 100,0 100,100")


        main.main
            aside.sidebar
                nav.nav
                    .nav__swipe
                        img(src="img/content/swipe.png").nav__pic
                    ul.nav__list
                        li.nav__item 
                            a(href="#article-1").nav__link.scroll Самое важное в SASS
                        li.nav__item 
                            a.a(href="#article-2").nav__link.scroll Приемы в верстке, без которых не обходится ни один сайт
                        li.nav__item
                            a(href="#article-3").nav__link.scroll Самый необходимый набор Gulp плагинов 
                        li.nav__item 
                            a(href="#article-4").nav__link.scroll Почему я выбрал Pug
                     
            
            section.main-content
                article.article#article-1
                    .article__title
                        .block-subtitle.block-subtitle_align_left Самое важное в SASS
                        .article__date 22 ноября 2016
                        .article__text.text-content
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .article__insert 
                            img(src="img/content/example.png").article__example
                        .article__end
                article.article#article-2
                    .article__title
                        .block-subtitle.block-subtitle_align_left Приемы в верстке, без которых не обходится ни один сайт
                        .article__date 13 ноября 2016
                        .article__text.text-content
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .article__end
                article.article#article-3
                    .article__title
                        .block-subtitle.block-subtitle_align_left Самый необходимый набор Gulp плагинов
                        .article__date 10 ноября 2016
                        .article__text.text-content
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            .article__end    
                article.article#article-4
                    .article__title
                        .block-subtitle.block-subtitle_align_left Почему я выбрал Pug
                        .article__date 3 ноября 2016
                        .article__text.text-content
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


        include ../common/footer                    
