extends ../template 

block variables
    - var title = 'Главная'

block content 
    .wrapper.intro
        .auth
            button.auth__button 
                span.auth__txt Авторизоваться 
        .welcome
            .welcome__pic
                img(src="./img/content/my_photo.jpg").welcome__img
            .welcome__desc 
                .welcome__desc-title Юрий Курбаков 
                .welcome__desc-txt Личный сайт веб разработчика
            ul.socials
                li.socials__item
                    a(href="https://vk.com/ykurbakov" target="_blank").socials__link
                        span.socials__icon.icon-vk 
                li.socials__item
                    a(href="https://github.com/kyv81" target="_blank").socials__link
                        span.socials__icon.icon-github
                li.socials__item 
                    a(href="https://www.facebook.com/profile.php?id=100009954705314" target="_blank").socials__link
                        span.socials__icon.icon-fb                     
            ul.welcome__list
                li.welcome__item    
                    a(href="#").welcome__link Мои работы
                li.welcome__item
                    a(href="#").welcome__link Обо мне
                li.welcome__item  
                    a(href="#").welcome__link Блог
        .copyright © Юрий Курбаков | создано с любовью в LoftSchool | 2017 
            


    