extends ../template 

block variables
    - var title = 'Главная'

block content
    .preloader
        .preloader__inner
            .preloader__spinner
                .preloader__animation
                .preloader__percents 0%

    .parallax#parallax
        .parallax__layer
            img(src="img/bg/parallax/parallax-8.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-7.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-6.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-5.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-4.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-3.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-2.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-1.png").parallax__image
        .parallax__layer
            img(src="img/bg/parallax/parallax-0.png").parallax__image   
    
    .wrapper.intro
        .auth
            button.auth__button 
                span.auth__text Авторизоваться
        .flip-effect
            .front   
                .welcome
                    .welcome__pic
                        img(src=`${picture}`).welcome__img
                    .welcome__desc 
                        .welcome__desc-title= name 
                        .welcome__desc-txt Личный сайт веб разработчика
                    ul.socials
                        li.socials__item
                            a(href="https://vk.com/ykurbakov" target="_blank").socials__link
                                svg(width="30", height="17").socials__icon.icon-vk 
                                    use(xlink:href="img/icons/sprite.svg#vk") 
                        li.socials__item
                            a(href="https://github.com/kyv81" target="_blank").socials__link
                                svg(width="26", height="22").socials__icon.icon-github 
                                    use(xlink:href="img/icons/sprite.svg#github")
                        li.socials__item 
                            a(href="https://www.facebook.com/profile.php?id=100009954705314" target="_blank").socials__link
                                svg(width="24", height="23").socials__icon.icon-in
                                    use(xlink:href="img/icons/sprite.svg#in")                      
                    ul.welcome__list
                        li.welcome__item    
                            a(href="works.html").welcome__link Мои работы
                        li.welcome__item
                            a(href="about.html").welcome__link Обо мне
                        li.welcome__item  
                            a(href="blog.html").welcome__link Блог
            .back
                form.form-auth#auth
                    .auth-form
                        .auth-form__fields
                            .auth-form__title
                                .block-subtitle Авторизуйтесь
                            .auth-form__field#field
                            .auth-form__fail#fail
                            .auth-form__row
                                label(for="user-login").auth-form__login-label
                                .auth-form__login-wrap
                                    .auth-form__login-icon#login-icon
                                        i.fa.fa-user.user-icon#user-icon
                                    input(type="text" placeholder="Логин" name="user-login").auth-form__login-input#login-input
                            .auth-form__row       
                                label(for="user-password").auth-form__password-label
                                .auth-form__password-wrap
                                    .auth-form__password-icon#password-icon
                                        i.fa.fa-key.key-icon#key-icon
                                    input(type="password" placeholder="Пароль" name="user-password").auth-form__password-input#password-input
                            .auth-form__row    
                                .auth-form__checkbox
                                    input(type="checkbox")#check.auth-form__check-input
                                    label(for="check").auth-form__check-label Я человек
                            .auth-form__row
                                .auth-form__radio-heading Вы точно не робот?
                                .auth-form__radio-buttons 
                                    label.auth-form__radio
                                        input(type="radio" name="robot").auth-form__radio-elem#notrobot
                                        .auth-form__radio-fake
                                        .auth-form__radio-title Да
                                    label.auth-form__radio
                                        input(type="radio" name="robot").auth-form__radio-elem
                                        .auth-form__radio-fake
                                        .auth-form__radio-title Нет
                        .auth-form__btns
                            button(type="button" name="main" value="На главную").auth-form__button-main На главную
                            button(type="submit" name="enter" value="Войти").auth-form__button-enter Войти


        .copyright © Юрий Курбаков | создано с любовью в LoftSchool | 2017

        
            


    