.intro {
    background: url('../img/bg/bg.jpg') top center no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
    @include flex;
    justify-content: space-between;
}
.auth {
    margin: 24px 20px 0 0;
    align-self: flex-end;

    @include phones {
        align-self: center;
    }
}
.auth__button {
    position: relative;
    display: block;
    width: 180px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 13px 27px;
    background: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.7s;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        background-color: #fff;
        transition: all 0.7s;
    }
    &:hover:before {
        opacity: 1;
        width: 100%;
    }
    &:hover {
        .auth__text {
            color: $green;
        }
    }
}
.auth__text {
    color: #fff;
    z-index: 2;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome {
    @include flex;
    background-color: rgba($white, 0.85);
    border-radius: 5px;
    overflow: hidden;
    padding-top: 40px;
    margin-bottom: 30px;
}
.welcome__pic {
    width: 140px;
    height: 140px;;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12px;
}
.welcome__img {
    max-width: 100%;
}
.welcome__desc {
    text-align: center;
    margin-bottom: 35px;
    max-width: 250px;
}
.welcome__desc-title {
    font-size: 28px;
    line-height: 34px;
    color: $black;
    margin-bottom: 5px;   
}
.welcome__desc-txt {
    font-family: 'robotoregular';
    color: $black;
}
.welcome .socials {
    margin-bottom: 40px;
}
.welcome__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $green;
    border-radius: 0 0 5px 5px;
}
.welcome__item {
    width: 100%;
    border-right: 2px solid $light;
    transition: 0.3s;
    &:last-child {
        border-right: none;
    }
}
.welcome__link {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        background-color: $dark;
    }

    @include phones {
        padding: 15px;
    }
}
.copyright {
    font-family: 'robotolight';
    color: #fff;
    max-width: 450px;
    margin-bottom: 30px;

    @include phones {
        text-align: center;
        width: 80%;
    }
}