.intro {
    background: url('../img/bg/bg.jpg') top center no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
    @include flex;
    justify-content: space-between;
}
.auth {
    margin: 24px 20px 0 0;
    align-self: flex-end;
}
.auth__button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 13px 27px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #fff;
        & .auth__txt {
            color: $green;
        }
    }
}
.auth__txt {
    color: #fff; 
}
.welcome {
    @include flex;
    background-color: rgba($white, 0.85);
    border-radius: 5px;
    overflow: hidden;
    padding-top: 40px;
    margin-bottom: 30px;
}
.welcome__pic {
    width: 140px;
    height: 140px;;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12px;
}
.welcome__img {
    max-width: 100%;
}
.welcome__desc {
    text-align: center;
    margin-bottom: 35px;
    max-width: 250px;
}
.welcome__desc-title {
    font-size: 28px;
    line-height: 34px;
    color: $black;
    margin-bottom: 5px;   
}
.welcome__desc-txt {
    font-family: 'robotoregular';
    color: $black;
}
.welcome .socials {
    margin-bottom: 40px;
}
.welcome__list {
    display: flex;
    justify-content: space-between;
    background-color: $green;
    border-radius: 0 0 5px 5px;
}
.welcome__item {
    border-right: 2px solid $light;
    transition: 0.3s;
    &:last-child {
        border-right: none;
    }
}
.welcome__link {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        background-color: $dark;
    }
}
.copyright {
    font-family: 'robotolight';
    color: #fff;
    max-width: 450px;
    margin-bottom: 30px;
}