.triangle {
    max-width: 100%;
    position: absolute;
    bottom: 0;
}
.works {
    position: relative;
    width: 100%;
    background-color: $lightbrown;
    padding-top: 100px;
}
.works__columns {
    display: flex;
    height: 100%;
    position: relative;

    @include tablets {
        flex-direction: column;
    }
}
.works__left {
    width: 40%;
    margin-left: 10%;

    @include tablets {
        width: 100%;
        margin-left: 0;
    }

    @include phones {
        @include flex;
    }
}
.works__pic {
    width: 100%;
    height: 100%;
    margin-bottom: -10px;

    @include tablets {
        @include flex;
    }

    @include phones {
        width: 75%;
    }
}
.works__img  {
    max-width: 100%;
}
.works__right {
    width: 40%;
    margin-right: 10%;

    @include tablets {
        width: 100%;
        margin-right: 0;
        order: -1;
        margin-bottom: 100px;
    }
}
.works__site {
    height: 100%;
    @include flex;
    align-items: flex-start;
    padding-left: 100px;

    @include tablets {
        padding-left: 0;
        align-items: center;
    }
}
.works__site-title {
    width: 90%;
    margin-bottom: 40px;
    .block-subtitle_align_left {

        @include phones {
            text-align: center;
        }
    }

    @include tablets {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    @include phones {
        width: 80%;
        margin-bottom: 20px;
    }
}
.works__site-desc {
    margin-bottom: 40px;
    border-top: 1px solid rgba($darkengreen, 0.3);
    border-bottom: 1px solid rgba($darkengreen, 0.3);
    width: 90%;

    @include tablets {
        width: 50%;
    }

    @include phones {
        width: 100%;
    }
}
.works__desc-title {
    color: $green;
    text-transform: uppercase;
    padding: 20px 0;

    @include tablets {
        text-align: center;
    }

    @include phones {
        padding: 10px 0;
    }
}
.works__site-btn {
    position: relative;
    display: block;
    background-color: $green;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.7s;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        background-color: #fff;
        transition: all 0.7s;
    }
    &:hover:before {
        opacity: 1;
        width: 100%;
    }
    &:hover {
        .works__btn-icon {
            fill: $green;
        }
        .works__btn-text {
            color: $green;
        }
    }
}
.works__btn-content {
    display: flex;
    align-items: center;
    padding: 14px 19px;
}
.works__btn-icon {
    fill: #fff;
    z-index: 2;
}
.works__btn-text {
    color: #fff;
    margin-left: 10px;
    z-index: 2;
}
.arrows {
    fill: $green;
}
.arrow-down {
    transform: rotate(90deg);
    position: absolute;
    left: 2.5%;
    top: 50%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.5) rotate(90deg);    
    }
}
.arrow-up {
    transform: rotate(-270deg);
    position: absolute;
    right: 2.5%;
    top: 50%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.5) rotate(-270deg);
    }
}
.dots {
    position: absolute;
    left: 45%;
    transform: translateX(-45%);
    bottom: 5%;
    display: flex;

    @include tablets {
        bottom: 2%;
    }
}
.dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    cursor: pointer;
    &_color_green {
        background-color: $green;
    }
    &_color_white {
        background-color: #fff;
        border: 2px solid $green;
    }
}
.dot + .dot {
    margin-left: 20px;
}
.what {
    background: url('../img/bg/bg-works.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 150px;
}
.what__content {
    height: 100%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what__title {
    position: relative;
    text-align: center;
    margin-bottom: 70px;

    @include phones {
        margin-bottom: 30px;
    }

    .block-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:before, &:after {
            content: '';
            display: block;
            width: 22px;
            height: 5px;
            position: absolute;
            top: 25%;
            transform: translateY(-25%);
            background-color: $grey;  
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }

        @include phones {
            font-size: 60px;
        }
    }
}
.what__pic {
    opacity: 0.07;
}
.left-quote {
    font-family: 'FontAwesome';
    display: block;
    font-size: 36px;
    color: $title;
    opacity: 0.2;
    margin-bottom: 30px;

    @include phones {
        margin-bottom: 20px;
    }
}
.what__comments {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 260px;
    margin-bottom: 70px;

    @include tablets {
        width: 95%;
    }

    @include phones {
        @include flex;
        height: auto;
        width: 100%;
        margin-bottom: 30px;
    }
}
.what__comments-quotes {
    
    @include phones {
        text-align: center;
    }
}
.what__comments-left, .what__comments-right {
    max-width: 370px;
    height: 100%;
    max-height: 100%;

    @include phones {
        max-width: 100%;
    }
}
.what__comments-left {
    margin-right: 20px;
    width: 100%;

    @include phones {
        margin-right: 0;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 30px;
    }
}
.what__comments-right {
    margin-left: 20px; 
    
    @include phones {
        margin-left: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.what__comments-text {
    margin-bottom: 30px;
}
.what__comments-author {
    display: flex;
    align-items: center;
}
.what__comments-pic {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
}
.what__comments-img {
    max-width: 100%;
}
.what__comments-user {
    margin-left: 20px;
    color: $green;
}
.what__comments-name {
    font-family: 'robotobold';
}
.what__comment-occ {
    font-family: 'robotoregular';
}
.arrow__up {
    margin-bottom: 103px;
    transform: rotate(180deg);
    opacity: 0.7;
    transition: 0.3s;
    &:hover {
        opacity: 1;
    }
}
  
  