*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'robotomedium';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.hamb {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($green, 0.87);
    z-index: 100;
    justify-content: center;
    padding-top: 95px;
    display: none;

    @include tablets {
        padding-top: 270px;
    }

    @include phones {
        padding-top: 150px;
    }
}
.hamb.active {
    display: flex;
}

.hamb__item {
    position: relative;
    padding: 0 40px;
    margin-bottom: 87px;

    @include phones {
        margin-bottom: 25px;
    }

    .block-title {
        
        @include tablets {
            font-size: 49px;
        }

        @include phones {
            font-size: 35px;
        }

        &:before, &:after {
            display: none;
        }
    }
}
.hamb__link {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    padding: 0 40px;
    position: relative;
    transition: 0.3s;
    &:hover {
        text-decoration: underline;
    }
    &:before, &:after {
        content: '';
        display: block;
        width: 22px;
        height: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $grey;
        opacity: 0.5;  
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
    &:hover:before, &:hover:after {
        opacity: 1;
        background-color: #fff;
    }
}
.section {
    width: 100%;
    height: 100%;
    min-height: 650px;
    overflow: hidden;
}
.section-title {
    width: 100%;
}
.section-title__pic {
    width: 100%;
    opacity: 0.06;
}
.block-title {
    font-family: 'bernier_regularregular';
    font-size: 63px;
    line-height: 66px;
    width: 100%;
    text-align: center;
    color: $title;
    &_color_white {
        color: #fff;
    }
    &:before, &:after {
        content: '';
        display: block;
        width: 22px;
        height: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $grey;  
    }
    &:before {
        left: 50px;
    }
    &:after {
        right: 50px;
    }
}
.block-subtitle {
    font-family: 'bernier_regularregular';
    font-size: 35px;
    text-align: center;
    line-height: 41px;
    color: $subtitle;
    position: relative;
    &_align_left {
        text-align: left;
    }
}
.text-content {
    font-family: 'robotoregular';
    line-height: 24px;
    color: $subtitle;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}