.triangle {
    width: 100%;
    display: flex;
}
.triangle__left {
    width: 50%;
    height: 100px;
}
.triangle__left-polygon {
    fill: $left-col;
}
.triangle__right {
    @extend .triangle__left;
}
.triangle__right-polygon {
    fill: $right-col;
}
.hero {
    background: url('../img/bg/bg.jpg') top center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding-bottom: 100px;
}
.hero__bg {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba($darkgreen, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
}
.hero__header {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;

    @include phones {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.hamburger {
    background-color: transparent;
    border: none;
    @include flex;
    cursor: pointer;
}
.hamburger__bar {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: 0.3s;
}
.hamburger.active .hamburger__bar:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(11.33px);
}
.hamburger.active .hamburger__bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .hamburger__bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(11.33px);
}
.hero__title {
    @include flex;
}
.section-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero__user {
    @include flex;
}
.hero__user-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}
.hero__user-img {
    max-width: 100%;
}
.hero__user-desc {
    text-align: center;
}
.hero__user-name {
    font-size: 35px;
    color: #fff;
    margin-bottom: 5px;
}
.hero__user-info {
    font-family: 'robotolight';
    color: #fff;
}

.arrow {
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin-bottom: 70px;
}
.arrow__link {
    display: inline-block;
    padding: 5px;
    transition: 0.3s;
    &:hover {
        transform: scale(1.3);
    }
}
.arrow__icon {
    fill: #fff;
    width: 26px;
    height: 16px;
}