@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }  
  }