$green: #00bfa5;
$darkgreen: #016672;
$white: #fcfcfc;
$black: #455a64;
$light: #74cac3;
$dark:  #068982;
$left-col: #efeee9;
$right-col: #eeebdf;
$title: #373e42;
$subtitle: #455a64;
$grey: #c3c4c0;
$lightgrey: #7db5b7;
$lightbrown: #efebe0;
$darkengreen: #009688;
$lightergreen: #06b39e;
$darkergreen: #1b8a88;